# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp

# need include the meta of file
!*.*.meta

# Visual Studio specific
*.suo
